/* Header全体 */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #222A35;
}

/* 中身 */
.wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

/* ロゴ */
.logo {
  width: 160px;
  height: auto;
}

/* applyボタン */
.apply {
  width: 160px;
  height: auto;
}

/* ハンバーガー */
.hamburger {
  background: none;
  border: none;

  font-size: 30px;
  cursor: pointer;
}