.now_edit {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.now_edit_png {
    width: 30%;
    height: auto;
}

.now_edit_text {
    font-size: clamp(25px, 5vw, 70px);
}