/*部屋に色付け(SvgMapにかかる)*/
.room {
    /*fill: #ffffff00;*/
    fill: #114514;
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.2s ease;
}

.play{
    fill: #d800eb80;
}
.food {
    fill: #ffff0080;
}

.stage {
    fill: #e5737380;
}

.exhibition {
    fill: #64b5f650;
}

.shop {
    fill: #81c78450;
}

/* active / selected */
.room:hover {
    fill: #eb0000b9;
}