/*部屋に色付け(SvgMapにかかる)*/
.room {
    fill: #ffffff00;
    /*fill: #114514;←確認用*/
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.2s ease;
}


/*ここ変更したら凡例のほうも忘れずに治す*/
.play{
    fill: #0095eb80;
}
.food {
    fill: #d83bb650;
}

.stage {
    fill: #73e58f80;
}

.exhibition {
    fill: #ffe60050;
}

.shop {
    fill: #c7818150;
}

.other{
    fill:#6819e650;
}

.svg-map-popup-open .room {
    fill: #ffffff00;
}

.svg-map-popup-open .room.selected-room {
    fill: #ff0000;
}
