.announce {
  display: grid;
  gap: 1rem;
  margin: rem 0;
  max-height: 300px;   /* 好きな高さに調整 */
  overflow-y: auto;
  padding-right: 0.5rem; /* スクロールバーの余白 */
  width: 70vw;
  align-items: center;
}

.announce-item {
  background: #2b3d56;
  border-radius: 14px;
  padding: 1.2rem 1.5rem;
  border: 3px solid rgb(0, 0, 0) !important;
}

.title {
  font-weight: 600;
  font-size: 1.05rem;
  margin-bottom: 0.4rem;
  color: #ffffff;
}

.detail {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .announce {
    height: 300px;
    width: 85vw;
    margin-top: 30px;
  }
}

.date{
  color: #c1c1c1;
}