.container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  color: white;
}

.countdown {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.timeContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeNum {
  font-size: 40px;
  font-weight: bold;
}

.finished {
  font-size: 40px;
  font-weight: bold;
}

@media (max-width:600px){
  .title{
    font-size: 20px;
  }

  .timeNum{
    font-size: 30px;
  }

  .container{
    padding: 0px 0px;
    border-radius: 12px;
  }
}